doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title
        link(rel="stylesheet", href="/style/main.css")
    body
        h1.page__title=title || 'JSON Parser'
        main.page__main
            form.form(action="/parse-file" method="POST" enctype="multipart/form-data") 
                //- enctype="multipart/form-data"
                - const text = JSON.stringify(json);
                .upload__area
                    input.form__input.form__upload(type="file" name="json_file" id="file__upload" accept=".json" required)
                    label.form__label.form__upload--label(for="file__upload") Upload File Here
                //- label.form__textarea--label(for="json_text") OR Enter Text Here
                //- textarea.form__textarea(name="json_text" id="json_input" value="" cols="50", rows="30" required)=text
                input.button(type="submit" value="Parse" id="submit")
            if json
                .results
                    .client-id.result__item
                        span.results-label Client Id: 
                        span.results-info=json.web.client_id
                    .client-secret.result__item
                        span.results-label Client Secret: 
                        span.results-info=json.web.client_secret
                    .uri-list.result__item
                        span.results-label JavaScript Origins
                        ul
                            for url in json.web.javascript_origins
                                li.javascript-origin=url 
                        span.results-label Redirect URIs
                        ul
                            for url in json.web.redirect_uris
                                li.redirect-uri=url
    script(src="/js/index.js")